#app {
  height: 100%;
  width: 100%;
  margin: 0;
}

#logo {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

#product-details-container {
  margin: 2% 5%;
  display: flex;
  align-content: space-between;
}

#all-products-container {
  margin: 80px 5%;
  display: flex;
  flex-flow: column;
  max-width: 50%;
}

#slider-div {
  display: flex;
}

#store-name {
  font-family: 'Sacramento', cursive;
  font-size: 40px;
}

#nav-right {
  position: absolute;
  right: 10px;
}

#product-img {
  /* background-color: black; */
  text-align: center;
}

#slider {
  margin: 0 10px;
}

.side-cont {
  width: 200px;
}

nav {
  height: 80px;
  width: 100%;
}

nav a {
  margin: 0 1em;
}

form {
  min-width: 50%;
  max-width: 50%;
}

a {
  text-decoration: none;
  color: #753ebd;
}

.details-image img {
  height: 300px;
}

.details-image {
  margin: 5%;
}

.card-image-top {
  height: 300px;
}

.card {
  padding: 10px;
}

.bottom {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 250px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 80px; /* Stay at the top */
  left: 0;
  background-color: #e9e4f0;
  overflow-x: visible; /* Disable horizontal scroll */
  padding-top: 20px;
}

.main {
  margin-left: 250px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

.container-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

.price {
  margin-right: 20px;
}
